.bs3-blog .row {
  background-color: var(--colorGrey);
}

.bs3-blog .col-sm-3,
.bs3-blog .col-sm-9 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bs3-blog .col-sm-9 {
  background-color: var(--colorWhite);
}

.bs3-blog .media-object {
  width: 60px;
}

.bs3-blog .media-left {
  padding-right: 20px;
}

.bs3-blog .label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
}
