.bs3-portfolio .affix {
  top: 0;
  width: 100%;
  z-index: 100;
}

.bs3-portfolio .navbar-inverse {
  border-radius: 0;
}

.bs3-portfolio section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bs3-portfolio .col-sm-3 {
  margin-bottom: 40px;
}

.bs3-portfolio figcaption {
  margin-bottom: 20px;
}

.bs3-portfolio .img-responsive {
  width: 100%;
  height: auto;
}
