/*@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/woff2/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/woff2/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/woff2/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}*/
/* переменные css */
:root {
  /* переменные цвета */
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorGrey: lightgrey;
}
/* переменные less */
/* переменные вьюпорта */
/* центровщик */
/* переменные плотности экрана */
/* центровщик контента */
/* кастомный фокус */
/* параметры текста mibile */
/* параметры текста tablet */
/* параметры текста desktop */
html,
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-width: 280px;
}
/*sr omly*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
button:hover {
  cursor: pointer;
}
/*custom focus*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
.js-focus-visible .focus-visible {
  outline: 2px solid var(--colorBlack);
}
.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}
/*skip link*/
.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;
  padding: 10px;
  color: var(--colorWhite);
  background-color: var(--colorBlack);
}
.skip-link:focus {
  top: 0;
}
/*standart tag*/
a {
  color: inherit;
}
a:hover {
  color: inherit;
  cursor: pointer;
}
a:focus {
  color: inherit;
}
figure {
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/*blog*/
.usr-blog .col-sm-3,
.usr-blog .col-sm-9 {
  min-height: 400px;
  border: 10px solid var(--colorWhite);
}
.usr-blog__footer {
  min-height: 100px;
  border: 10px solid var(--colorWhite);
}
/*portfolio*/
.usr-portfolio__menu,
.usr-portfolio__footer,
.usr-portfolio .col-sm-3 {
  min-height: 100px;
  border: 10px solid var(--colorWhite);
}
.usr-portfolio__header {
  min-height: 200px;
  border: 10px solid var(--colorWhite);
}
/*Bootstrap*/
.bg-success {
  background-color: var(--colorGrey);
}
.btn {
  border-radius: 0;
}
