/*html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}*/

body {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: @mobileWidth;
}

/*sr omly*/

/*.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}*/

button:hover {
  cursor: pointer;
}

/*custom focus*/

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  .focusCustom(var(--colorBlack3));
}

.js-focus-visible footer .focus-visible {
  .focusCustom(var(--colorWhite2));
}

.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}

/*skip link*/

.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;

  padding: 10px;

  color: var(--colorWhite2);

  background-color: var(--colorBlack3);
}

.skip-link:focus {
  top: 0;
}

a.skip-link:focus {
  color: var(--colorWhite2);
}

/*standart tag*/

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

a {
  color: inherit;
}

blockquote {
  padding: 0;
  border: none;
}

textarea {
  resize: vertical;
}

footer {
  flex-grow: 1;

  padding-top: 40px;
  padding-bottom: 40px;

  color: var(--colorWhite2);
  background-color: var(--colorBlack3);
}

/*main-page*/

.main-page main {
  padding-top: 20px;
  padding-bottom: 40px;
}
