/* переменные css */

:root {

  /* переменные цвета */

  --colorWhite: #ffffff;

  --colorGreen: #1abc9c;

  --colorBlue: #474e5d;

  --colorBlack: #000000;
  --colorBlack2: #555555;
  --colorBlack3: #f5f6f7;

  --colorBrown: #2f2f2f;

}

/* переменные less */

/* переменные вьюпорта */

@mobileWidth: 320px;
@tabletWidth: 768px;
@laptopWidth: 992px;
@desktopWidth: 1200px;

/* центровщик */

@containerMobile: 90%;
@containerTablet: 85%;
@containerDesktop: 80%;

/* переменные плотности экрана */

@retinaDppx2x: 1.5dppx;
@retinaDpi2x: 144dpi;

@retinaDppx3x: 2.4dppx;
@retinaDpi3x: 220dpi;
